<?xml version="1.0" encoding="utf-8" ?>


<configuration>
  <configSections>
    <section name="Sites"
             type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <Sites>
    <add key="site2"
         value="https://classsolutions.sharepoint.com/sites/leandro.silva/"/>
  </Sites>
  <!-- <appSettings>
    <add key="ClientId" value="64d869cf-05b1-44a2-9557-ab8f0a756218"/>
    <add key="ClientSecret" value="zZUV7HuLS07Hb9z1T2NV+QWFxMwHLxcx5ov4A525p5A="/>
  </appSettings> -->
 <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>